:root {
    --dark-gray: #1F2937;
    --cta-blue: #3882F6;
    --light-grey: #E5E7EB;
    --almost-white: #F9FAF8;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Poppins";
}

/* Text styling */

h1 {
    font-size: 48px;
    color: var(--almost-white);
}

h1, #information-section h2 {
    font-weight: 800;
}

#header-logo h2 a, footer p {
    color: var(--almost-white);
}

#header-logo h2 a:hover {
    color: var(--almost-white) !important;
}

#information-section h2, blockquote {
    font-size: 36px;
    color: var(--dark-gray)
}

blockquote {
    font-style: italic;
    font-weight: 200;
}

#nav-links a, #title-left p {
    font-size: 18px;
    color: var(--light-grey)
}

a {
    text-decoration: none;
}

a:hover {
    color: var(--cta-blue) !important;
}


/* Background colour */

header, footer, #title-section {
    background-color: var(--dark-gray)
}

button, #cta-section {
    background-color: var(--cta-blue);
    border-radius: 5px;
    color: var(--almost-white);
}

#quote-section {
    background-color: var(--light-grey);
}

button:hover {
    background-color: var(--almost-white);
    color: var(--cta-blue);
    border: 1px solid var(--almost-white) !important;
}

/* Header/nav menu */

#header-container {
    max-width: 70vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

#header-container i {
    font-size: 30px;
}

#nav-links {
    display: flex;
}

ul {
    padding: 0;
    margin: 0;
    gap: 20px;
    display: flex;
    list-style-type: none;
}

li {
    padding: 0;
    margin: 0;
}

/* Title section */

#title-section {
    min-height: 30vh;
    display: flex;
    padding: 5% 0;
    justify-content: center;
    align-items: center;
}

#title-container {
    max-width: 70vw;
    display: flex;
    flex: 1;
    align-items: center;
    gap: 40px;
}

#title-left {
    flex: 1;
    flex-wrap: wrap;
}

#title-right {
    flex: 1;
    background-image: url("./images-and-links/car_main.jpg");
    background-size: cover;
    min-height: 350px;
    background-position: center;
    border-radius: 20px;
}

#title-left h1 {
    margin-bottom: -10px;
    margin-top: 0;
}

#title-left button {
    padding: 5px 20px;
    border: 1px solid var(--cta-blue);
}

/* Information section */

#information-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0 20px 0;
    gap: 20px;
}

#information-header {
    line-height: 36px;
}

#information-container {
    display: flex;
    max-width: 65vw;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.information-card { 
    flex: 1;
    width: 25%;
    display: flex;
    flex-direction: column;
    min-height: 200px;
    gap: 20px;
}

.information-card img {
    width: 100%;
    max-height: 50%;
    overflow: hidden;
    object-fit: cover;
    border-radius: 20px;
    flex: 1;
}

.information-card p {
    margin: 0;
    align-self: center;
    text-align: center;
}

/* Quote section */

#quote-section {
 padding: 50px 0;
}

#quote-section figure {
    display: flex;
    max-width: 55vw;
    margin: 0 auto;
    flex-direction: column;
}

blockquote {
    margin: 0;
}

#quote-section figcaption {
    align-self: flex-end;
    padding-right: 50px;
    padding-top: 20px;
}

/* CTA section */

#cta-section {
    max-width: 68vw;
    min-height: 150px;
    margin: 50px auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#cta-left {
    flex: 2;
    padding-left: 5%;
}

#cta-right {
    flex: 1;
    display: flex;
    justify-content: center;
}

#cta-right button {
    border: 1px solid var(--almost-white);
    padding: 5px 20px;
}
/* Footer */

footer {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

/* MOBILE RESPONSIVE */

/* Medium devices - tablets etc. */

@media only screen and (max-width:991px) {
    
    /* Header */

    #nav-links a {
        font-size: 16px;
    }

    #header-container {
        max-width: 80vw;
        gap: 40px;
    }

    /* Title section */


    #title-container {
        flex-direction: column-reverse;
    }

    #title-left {
        min-width: 90vw;
        text-align: center;
    }

    #title-left h1 {
        font-size: 40px;
        padding-bottom: 20px;
    }

    #title-right {
        min-width: 80vw;
    }

    #title-left button {
        margin-top: 10px;
        padding: 8px 30px;
    }

    /* Information section */

    #information-container {
    min-width: 90vw;
    }    

    /* Quote section */
    

    #quote-section figure {
    max-width: 70vw;
    }

    /* CTA section */

    #cta-section {
    max-width: 90vw;
    }

    #cta-section button {
        padding: 8px 30px;
    }

}

/* Extra queries for small devices */

@media only screen and (max-width: 767px) {

    /* Information section */

    #information-header {
        text-align: center;
    }

    #information-container {
        flex-direction: column;
        min-width: 90vw;
        align-items: center;
        gap: 60px;
        padding-bottom: 50px;
    }

    .information-card {
        width: 90%;
        max-height: 10%;
    }
    
    .information-card img {
        width: 80%;
        max-height: 250px;
        align-self: center;
    }

    .information-card p {
        width: 80%;
    }
}

@media only screen and (max-width: 600px) {

    /* Header */

    #header-container {
        flex-direction: column;
        gap: 5px;
    }

    #header-logo h2 {
        font-size: 30px;      
    }

    #nav-links a {
        font-size: 16px;
    }

    /* Quote section */

    blockquote {
        font-size: 24px;
    }

    #quote-section figcaption {
        padding-right: 20px;
    }

    /* Information section */

    #information-section h2 {
        font-size: 30px;
    }

    .information-card img {
        width: 300px;
        height: 300px;
        object-fit: cover;
    }

    /* CTA section */

    #cta-section {
        flex-direction: column;
        padding: 20px 0;
        max-width: 90%;
        border: 1px solid red;
        flex-wrap: wrap;
        text-align: center;
    }

    #cta-left {
        border: 1px solid red;
       
    }

    #cta-left h3 {
        padding-bottom: 12px;
    }
}